.guide-texts{
    padding-left: 20px;
    margin-bottom: 10px;
}

.guide-hreflist{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
    padding: 0px;
    margin-left: 10px; 
}

.guide-hreflist li{
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(236, 238, 241);
}

.guide-hreflist a{
    color: black;
}

.guide-texts img{
    margin: 20px;
}

.guide-texts span{
    font-weight: bold;
    background-color: rgb(222, 223, 226);
}

h2{
    text-align: center;
}

h3{
    font-size: 22px;
    margin: 0px;
}

.guide-texts p a{
    color: #596ed6;
    font-weight: bold;
}

.guide-texts p img {
    overflow: hidden;
}

.guide-texts ul li ul{
        margin: 0px;
        padding: 5px 30px 5px 30px;
}

/* top button */
.top-button-wrap{
    position: -webkit-fixed; /* 사파리 브라우저 지원 */
    position: fixed;
    z-index: 10;/* layer 설정 */
    right: 50px;
    bottom: 50px;
    width: 80px;
    height: auto;
    text-align: center;
}

@media (max-width: 768px) {
    .guide-hreflist li{
        font-size: 15px;
    }

    .guide-hreflist{
        display: inline-flex;
        flex-wrap: wrap;
        list-style: none;
        gap: 5px;
        padding: 0px;
        margin-left: 0px; 
    }
    .guide-texts{
        margin-left: auto;
        margin-right: auto;
    }

    .top-button-wrap{
        right: 30px;
        bottom: 30px;
        width: 70px;
        height: auto;
    }

    
}
