.index-wrap{
    text-align: center;
 /* 백그라운드 이미지 추가할 것 */
    padding: 10px;

}

.index-content{
    width: 70%;
    height: 650px;
    padding-top: 200px;
}


.index-content h2{
    font-family: "Roboto";
    font-size: 70px;
    margin: 0;
    margin-bottom: 20px;
}

.index-content span{
    font-size: 30px;
}


@media (max-width: 768px) {
    .index-content {
        width: 95%; /* 화면을 거의 꽉 채우게 변경 */
        padding-top: 200px;
    }

    .index-content h2{
        font-size: 50px;
    }

    .index-content span{
    font-size: 20px;
}
}

/* 1. 애니메이션 정의 */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px); /* 30px 아래에서 시작 */
    }
    to {
        opacity: 1;
        transform: translateY(0);    /* 원래 위치로 이동 */
    }
}

/* 2. 애니메이션 적용 */
.fade-in-up {
    animation: fadeInUp 1s ease-out forwards; 
    /* 1초 동안, 부드럽게 끝남, 애니메이션 끝난 후 상태 유지 */
}

/* 3. (선택) 한 박자 늦게 나타나게 하고 싶을 때 */
.delay {
    animation-delay: 0.5s; 
    opacity: 0; /* 시작 전에는 안 보이게 설정 */
}