.roboto-light {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: light;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}


.overpass {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

body {
    margin: 0px;
    font-family: "Roboto", sans-serif;
    color: #5f6572;
    background-color: #e2e5ec;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.tx-center{
    text-align: center;
}

.header{
    display: inline-block;
    background-color: rgb(191, 197, 207);
    height: 250px;
    width: 100%;
}

.header-content{
    margin: 0px auto 0px auto;
    text-align: center;
    font-size: 30px;
    font-family: "Overpass";
}

.nav-wrap {
    position: -webkit-sticky; /* 사파리 브라우저 지원 */
    position: sticky;
    top: 0;           /* 화면 가장 위(0)에 붙음 */
    padding: 5px 0 5px 0;
    z-index: 10;    /* 다른 콘텐츠보다 위에 보이게 함 */
    background-color: #8a8f99;

}
.nav-bar ul {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;
    padding:0px;
    font-size: 20px;
}

.nav-sublist{
    position: absolute;
    top: 100%;
    overflow: hidden;
    max-height: 0px;
  
    background-color: white;
    display: flex;
    flex-direction: column;
}

.nav-sublist::before,.nav-sublist::after {
    content: "";
    display: block;
    height: 1px;
}

.nav-bar .nav-sublist a:hover{
    text-decoration: none; color:#8a8f99;
}

.nav-bar a{
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    color: black;
}
.nav-bar a:hover { text-decoration: none; color:white }
.nav-bar a:visited, .nav-bar a:focus, .nav-bar:hover, .nav-bar:active {
    text-decoration: none;
}
.nav-bar a.active{
    outline-style: solid;
    outline-color: white;
    font-weight: bold;
    color: white;
}

.block-click{
    cursor: default; /* 마우스 커서를 일반으로 변경 */
    pointer-events: none; /* CSS 레벨에서도 클릭을 무시하게 만듦 */
}

.footer-wrap{
    padding: 20px;
    background-color: #e2e5ec;
}

.footer{
    color: #8a92a0;
    width: 80%;
    text-align: center;
    margin: 30px auto 0px auto;
    max-width: 1200px;
    height: 500px;
}
.footer [href]{
    color: #c9ced8;
}

.main-wrap{
    padding: 30px 20px 50px 20px;
    background: white;
}

.main-content h1{
    font-size: 25px;
}

.notice-content{
    margin-top: 10px;
    width: 500px;
    background-color: rgb(236, 238, 241);
    text-align: center;
    padding: 5px;
}

.notice-content-wrap{
    padding: 10px;
}

.notice-list-wrap{
    margin-left: -50px;
}

.notice-content ul{
    text-align: left;
    display: inline-block;
}

[href]{ text-decoration: none; color: #3a3e46;}
[href]:visited { text-decoration: none; }
[href]:hover { text-decoration: none; color: #8a92a0; }
[href]:focus { text-decoration: none; color: #8a92a0; }
[href]:active { text-decoration: none;}

hr{
    width: 100%;
    visibility: hidden;
}

h2{
    color: black;
    font-size: 40px;
    margin-bottom: 10px;
    font-family: "roboto";
}

h1{
    color: black;
}

.image-window {
    width: 100%;          /* 부모(본문) 너비만큼만 보여주겠다 */
    overflow-x: auto;     /* 가로로 넘치는 부분은 스크롤로 처리하겠다 */
}

[id] {
    scroll-margin-top: 100px; /* 내비게이션 바의 실제 높이 + 약간의 여유(5~10px)를 입력하세요 */
}


/* 반응형 ㅇㅇ */
@media (max-width: 800px) {
    .main-content-wrap {
        width: 95%;
        padding: 10px;
    }

    .notice-content{
    width: 95%;
    background-color: rgb(236, 238, 241);
    text-align: center;
    padding: 2px;
    }

    .notice-list-wrap{
        margin-left: -10px;
    }

    .image-window{
    width: 100%;        /* 부모(본문) 너비만큼만 보여주겠다 */
    overflow-x: auto; /* 가로로 넘치는 부분은 스크롤로 처리하겠다 */
    text-align: center;
    }
}

